  {{#if flash}}
    <div class="alert alert-dismissible alert-{{flash.type}} " role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true"></button>
        <strong>{{flash.intro}}</strong> {{{flash.message}}}
    </div>
    {{/if}}

  <div class="cover-container d-flex w-100 h-70 p-3 mx-auto flex-column"> 
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Tomas website</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link " aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/book">Book</a>
         <a class="nav-link" href="/book/addnew">Contact</a>
          <a class="nav-link" href="/blog">blog</a>
      </nav>
    </div>
  </header>