<main>
   
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">About me</h1>
        <p class="lead text-muted">My name is Tomas and im 21 years old. I attend ATU sligo collage. Im currently studdying UX/UI and app design</p>
        <p>
          <a href="book" class="btn btn-primary my-2">My top 3 books</a>
          
        </p>
      </div>
    </div>
  </section>
    
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                   <div class="card">
                       <img src="images/newlogo.jpg" alt="logo" class="card-img-top">
                       <div class="card-body">
                           <h5 class="card-title"> ITSligo </h5>
                           <p class="card-text">This is my colage</p>

                       </div>

                   </div>
            </div>
             <div  class="col-12 col-md-6 col-lg-4">
                   <div class="card">
                       <img src="images/football.jpg" alt="logo" class="card-img-top">
                       <div class="card-body">
                           <h5 class="card-title"> sports </h5>
                           <p class="card-text">I like to play football</p>

                       </div>

                   </div>
            </div>
             <div  class="col-12 col-md-6 col-lg-4">
                   <div class="card">
                       <img src="images/book.jpg" alt="logo" class="card-img-top">
                       <div class="card-body">
                           <h5 class="card-title"> Books </h5>
                           <p class="card-text">I read one book a day</p>

                       </div>

                   </div>
            </div>
        </div>
   

</main>