<h2> All about {{person.name}}</h2>
<h3>Name {{person.Author}}</h3>
{{#if person.published}}
<h3>Date of Birth {{person.published}}</h3>
{{/if}}
<img src={{person.imageurl}} alt="photo of the person">