<form method="POST">


    <div class="form-group">
        <label for='name'>Book Name</label>
        <input type=text id='name' name='name' class='form-control'>
    </div>
    <div class="form-group">
        <label for='Author'>Author</label>
        <input type=text id='Author' name='Author' class='form-control'>
    </div>


    <div class="form-group">
        <label for='published'>Published</label>
        <input type=text id='published' name='published' class='form-control'>
    </div>
    <button type=submit class="btn btn-primary">Add book</button>

    </div>
</form>
